Debug/
Release/
*.o
*.d
*.su
*.cyclo
*.list
.settings/
.metadata/
.DS_Store
Drivers/CMSIS/DSP/
Drivers/CMSIS/NN/
Drivers/CMSIS/Core/
Drivers/CMSIS/Core_A/
Drivers/CMSIS/DAP/
Drivers/CMSIS/RTOS/
Drivers/CMSIS/RTOS2/
Drivers/CMSIS/Documentation/
